sudo: required
language: python
python:
  - "2.7"
env:
  global:
    - PATH="/usr/bin:$PATH"
services:
  - docker

before_install:
    # Ansible doesn't play well with virtualenv
  - deactivate
  - sudo apt-get update -qq

install:
  - sudo pip install docker-py
    # software-properties-common for ubuntu 14.04
    # python-software-properties for ubuntu 12.04
  - sudo apt-get install -y software-properties-common python-software-properties
  - sudo apt-add-repository -y ppa:ansible/ansible
  - sudo apt-get update -qq
  - sudo apt-get install -y ansible
  - sudo rm /usr/bin/python && sudo ln -s /usr/bin/python2.7 /usr/bin/python
  - ansible --version
  # login docker
  - docker login -u="${DOCKER_USERNAME}" -p="${DOCKER_PASSWORD}"

script:
  - ansible-playbook playbook.yml --syntax-check
  - travis_wait 60 ansible-playbook playbook.yml
